/language.aux
/language.log
/language.out
/language.pdf
/language.bbl
/language.blg
/research_statement.aux
/research_statement.log
/research_statement.out
/research_statement.pdf
/final.aux
/final.bbl
/final.blg
/final.log
/final.out
/final.pdf
/final.toc
